# Use this file to define individuals or teams that are responsible for code in a repository.
# Read more: <https://help.github.com/articles/about-codeowners/>
#
# Order is important: the last matching pattern has the highest precedence

# Cloud Posse must review any changes to Makefiles
**/Makefile   @cloudposse-terraform-components/engineering
**/Makefile.* @cloudposse-terraform-components/engineering


# Cloud Posse Admins must review all changes to CODEOWNERS, github configuration or the mergify configuration
.github/*           @cloudposse-terraform-components/admins
.github/mergify.yml @cloudposse-terraform-components/admins
.github/CODEOWNERS  @cloudposse-terraform-components/admins
